<header class="header">
  <app-logo></app-logo>

  <nav class="nav">
    <a routerLink="/installation" routerLinkActive="active">Installer Signal</a>
    <a routerLink="/help" routerLinkActive="active">Aide</a>
    <a routerLink="/blog" routerLinkActive="active">Blog</a>
    <a routerLink="/devs" routerLinkActive="active">Développeurs</a>
    <a routerLink="/carrers" routerLinkActive="active">Carrières</a>
    <a routerLink="/donating" routerLinkActive="active">Faire un don</a>
    <a routerLink="/language" routerLinkActive="active">Français</a>
  </nav>
</header>
